<h3>ChatsParameters</h3>

<div class="parameters" @onclick="ClosePopup">
    <div class="content">
        <!-- Здесь разместите содержимое вашего popup -->
        <h3>Заголовок Popup</h3>
        <p>Содержимое Popup</p>
        <button @onclick="ClosePopup">Закрыть</button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnClose { get; set; }

    private void ClosePopup()
    {
        OnClose.InvokeAsync();
    }
}
