<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="auth-container">
          <h3>Sign Up</h3>
            <input type="text" class="form-control mb-3" placeholder="Enter your name" [(ngModel)]="name">
            <input type="text" class="form-control mb-3" placeholder="Enter your username" [(ngModel)]="username">
            <input type="text" class="form-control mb-3" placeholder="Enter your email" [(ngModel)]="email">
            <input type="password" class="form-control mb-3" placeholder="Enter your password" [(ngModel)]="password">
            <button type="button" class="btn btn-primary btn-block" (click)="signUp()" title="Sign Up">Sign Up</button>
          <ng-container *ngIf="signUpAttempted">
            <p *ngIf="signUpSuccessfully; else error" class="mt-3 text-success">Sign-up successful!</p>
            <ng-template #error>
              <p class="mt-3 text-danger">An error occurred during sign-up.<br>Please try again.</p>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  