#sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: all 0.3s ease;
    z-index: 1000;
}

#sidebar.active {
    left: 0;
}

.menu-button {
    width: 100%;
}