@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using MyMessenger.Maui.Services
@inject AuthService authService
@inject NavigationManager NavigationManager

<div class="auth-container">
    <h3>Login</h3>
    <InputText type="text" class="@((string.IsNullOrWhiteSpace(Email) && ButtonClicked ? "element auth-required" : "element"))" placeholder="Enter your username" @bind-Value="@Email"></InputText>
    <br>
    <InputText type="text" class="@((string.IsNullOrWhiteSpace(Password) && ButtonClicked ? "element auth-required" : "element"))" placeholder="Enter your password" @bind-Value="@Password" isPassword="true"></InputText>
    <br>
    <button type="submit" class="btn-primary" style="width: 350px" title="Login" @onclick="Login">Login</button>
    @if (!LoginSuccessfully)
    {
        <p>An error occurred.<br>Please recheck your credentials.</p>
    }
</div>



@code {
    private string Email { get; set; }
    private string Password { get; set; }
    private bool ButtonClicked { get; set; } = false;
    private bool LoginSuccessfully { get; set; } = true;

    private async Task Login() 
    {
        ButtonClicked = true;
        if (!string.IsNullOrEmpty(Email) && !string.IsNullOrEmpty(Password))
        {
            LoginSuccessfully = await authService.Login(Email, Password);
            if (LoginSuccessfully)
            {
                NavigationManager.NavigateTo("/users");
            }
        }
    }
}
