@page "/video"
@using Blazored.LocalStorage;
@inject IJSRuntime JSRuntime
@inject ILocalStorageService storage;
@implements IDisposable
<div>
    <label for="connectionId">Enter Connection ID:</label>
    <input id="connectionId" @bind="connectionId" />
    <button @onclick="StartCall">Start Call</button>
</div>
<div>
    <video muted id="@options.VideoID"
           style="background-color:lightblue;"
           width="@options.Width" autoplay="true">
        Click start to show video
    </video>
    <video id="remote"
           style="background-color:lightblue;"
           width="@options.Width" autoplay="true">
        Click start to show video
    </video>
</div>
<script src="js/webcam.js"></script>

@code {
    private string connectionId;
    WebCamOptions options = new WebCamOptions()
        {
            VideoID = "video"
        };
    protected override async void OnInitialized()
    {
        options.Width = 480;
        base.OnInitialized();
    }
    async Task StartCall()
    {
        options.ConnectionId = connectionId;
        await JSRuntime.InvokeVoidAsync("WebCamFunctions.start", options);
    }
    public void Dispose()
    {
        JSRuntime.InvokeVoidAsync("WebCamFunctions.dispose");
    }
}
